
/* estilo geral */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display:flex;
}


.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color:blue ;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: blue;
}

button:hover{
    box-shadow: 0px 0px 8px rgba(34, 0, 255, 0.86);
    transform: scale(1.05);
}

/* cabeçalho */

.logo img{
    width: 80px;
}

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #686868;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}






/* Topo do site */

section.topo-do-site{
    padding: 40px 4%;
}

section .topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 45px;
}

.topo-do-site .txt-topo-site h1 span{
    color: blue;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.txt-topo-site{
    margin-top: 200px;
}

.img-topo-site img{
    margin-top: -100px;
    width: 600px;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}

/* estilo das Habilidades */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff4a;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: blue;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}


/* estilo do 'sobre' */


.img-sobre img{
    border-radius: 15px;
}

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: blue;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.contato button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* estilo do portfólio */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff0b;
}

section.portfolio .flex{
    justify-content: space-around;
}


.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 7s;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    position: relative;
}

.img-port:hover{
    background-position: 0% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.372);
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* estilo rodapé */

footer{
    padding: 40px 4%; 
    box-shadow: 0 0 40px 10px #ffffff0b;
}

.logo-footer img{
    width: 80px;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer p{
    padding: 20px 0;
    border-top: 2px solid blue;
}

footer .line-footer p i {
    color: blue;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}